


header {
    background-color: rgb(136, 149, 198);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(41, 72, 156);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

  nav {
    float: right;
    width: 10%;
    height: 200px; /* only for demonstration, should be removed */
    background: rgb(93, 108, 185);
    padding: 20px;
    text-align: center;
    
    }
  
    nav ul {
        list-style-type: none;
        padding: 0;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        article {
            float: right;
            padding: 20px;
            width: 70%;
            background-color: #1a4889;
            height: 150px; /* only for demonstration, should be removed */
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: rgb(161, 181, 217)
            }

            button { 
                background-color: rgb(11, 84, 148);
                color:#bac1e4;
            float: inline-end;}