<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
  
  <body>


    <header>
    
      <h2>Saira Khwaja</h2>
    
    </header>
    
    <section>
    
      <nav>
    
        <h1>
    
          <ul>
            <li><a href="#">HHA 504</a></li>
            <li><a href="#">HHA 507</a></li>
          </ul>
    
        </h1>
    
      </nav>
    
      <article> 
        <h1>About</h1>
        <p>Ran into two errors that were almost impossible to fix and were driving me insane</p>
        <p>Soon realized I missed a "." and named my templates folder "template" instead...</p>
        <p>Anyway, enjoy this picture of a cat</p>
        <img src="https://cdn.theatlantic.com/thumbor/Kto-jp-IrA7TydSu5W5uB1FBDmA=/0x131:2555x1568/1952x1098/media/img/mt/2017/06/shutterstock_319985324/original.jpg" alt="Cat" style="float:right">
      </article>
    </section>
    <button> Next Page</button>
        
      </body>