<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
  
  <body>


<header>

  <h2>About</h2>

</header>

<section>

  <nav>

    <h1>

      <ul>
        <li><a href="#">Stony Brook Undergrad Program Experience</a></li>
        <li><a href="#">Stony Brook Graduate Program Experience</a></li>
      </ul>

    </h1>

  </nav>

  <article> 
    <h1>Information About Me</h1>
    <p>I graduated from Stony Brook with my bachelors in Health Science in May 2022.</p>
    <p>Currently, I'm completing my M.S. at Stony Brook in Applied Health Informatics</p>
    <p>I have a cat named Snowy</p>
  </article>
</section>
<button> Next Page</button>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSat0BLUPlXWFvfAnxsRKxBKsxyTGt8qqEXfg&usqp=CAU" alt="Stony Brook" style="float:left">
    
  </body>